registry=https://registry.npmmirror.com/

# 网络优化
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=300000
fetch-timeout=1800000
network-timeout=900000

# 禁用严格 SSL（仅在内网或测试环境）
# strict-ssl=false