.header {
  line-height: 64px;
  background: var(--color-bg-3);
  border-bottom: 1px solid var(--color-border-2);
}

.trigger {
  margin-left: 20px;
}

.icon {
  font-size: 20px;
  color: var(--color-text-1);
}

.content-wrapper {
  padding: 0 24px;
}

.content {
  text-align: center;
  font-stretch: condensed;
  display: flex;
  flex-direction: column;
  background: var(--color-bg-3);
  color: var(--color-text-2);
  -webkit-user-select: none;
  user-select: none;
}

.content-title {
  -webkit-user-select: none;
  user-select: none;
}

.footer {
  text-align: center;
  font-stretch: condensed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-text-2);
  height: 48px;
  line-height: 48px;
  font-weight: 400;
  font-size: 14px;
}
